[submodule "CoreSaasApi"]
	path = CoreSaasApi
	url = https://github.com/ArmanOfficial786/coreSaasApi.git
[submodule "coresaasweb"]
	path = coresaasweb
	url = https://github.com/ArmanOfficial786/coreSaasWeb.git
