[submodule "CoreSaasApi"]
	path = CoreSaasApi
	url = https://github.com/ArmanOfficial786/coreSaasApi.git
[submodule "CoreSaasweb"]
	path = CoreSaasweb
	url = https://github.com/ArmanOfficial786/coreSaasWeb.git
